@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@keyframes down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
